html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.holder {
  text-align: center;
  height: calc(100vh - 265px); }

body {
  background: #646464;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif; }

.header {
  position: relative;
  height: 150px;
  background: #222222;
  padding: 0 30px;
  text-align: center; }
  @media screen and (max-width: 910px) and (min-width: 711px) {
    .header {
      height: auto; } }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .header {
      height: auto;
      padding: 0; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .header {
      height: auto;
      padding: 0; } }

.headerLogo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 150px; }
  @media screen and (max-width: 910px) and (min-width: 711px) {
    .headerLogo {
      top: 0;
      transform: translateY(0); } }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .headerLogo {
      top: 0;
      transform: translateY(0);
      margin: 0 auto; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .headerLogo {
      top: 0;
      transform: translateY(0);
      margin: 0 auto;
      width: 60vw;
      height: calc(60vw * .375748503); } }

.headerInfoList {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #fbdc44;
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0; }
  @media screen and (max-width: 910px) and (min-width: 711px) {
    .headerInfoList {
      position: relative;
      top: 0;
      right: 0; } }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .headerInfoList {
      position: relative;
      top: 0;
      right: 0; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .headerInfoList {
      position: relative;
      top: 0;
      right: 0; } }

.headerCallUs {
  font-weight: lighter; }

.headerInfoListItemLink {
  text-decoration: none;
  color: #fbdc44; }

.menu {
  background: #fbdc44; }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .menu {
      display: none; } }

.menuList {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center; }

.menuListItem {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  display: inline-block; }
  .menuListItem:hover {
    background: #FFEC86; }

.menuLink {
  text-decoration: none;
  color: #222222; }

.menuActive {
  background: #FFEC86; }

.hamburgerContainer {
  display: none;
  background: #fbdc44; }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .hamburgerContainer {
      display: block;
      height: 35px;
      padding-left: 5%; } }

.hamburgerIconContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

#nav-icon1 {
  width: 25px;
  height: 20px;
  position: relative;
  top: 15%;
  transform: translateY(50%);
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  cursor: pointer; }

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #222222;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg); }

#nav-icon1 span:nth-child(1) {
  top: 0px; }

#nav-icon1 span:nth-child(2) {
  top: 8px; }

#nav-icon1 span:nth-child(3) {
  top: 16px; }

#nav-icon1.open span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg); }

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -35px; }

#nav-icon1.open span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg); }

.hamburgerMenu {
  margin: 14px 0 0 0;
  padding: 0;
  position: absolute;
  right: 0;
  left: 0;
  height: 0;
  overflow: hidden;
  background: #fbdc44; }

.hamburgerMenuLink {
  background: #fbdc44;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative; }

.hamburgerMenuListItem {
  background: #fbdc44;
  color: #222222;
  text-decoration: none;
  border-top: 1px solid black;
  padding: 10px 0 10px 17px; }

.hamburgerMenuActive {
  background: #FFEC86; }

.content {
  background: url("../images/engine.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, 0.9);
  padding: 40px 0 60px 0; }

.subHeader {
  margin: 0 auto;
  background: #fbdc44;
  overflow: hidden;
  height: 500px;
  width: 1100px; }
  @media screen and (max-width: 1150px) and (min-width: 911px) {
    .subHeader {
      width: 900px;
      height: 400px; } }
  @media screen and (max-width: 910px) and (min-width: 711px) {
    .subHeader {
      width: 700px;
      height: 300px; } }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .subHeader {
      width: 90%;
      margin: 0 auto;
      height: auto; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .subHeader {
      width: 90%;
      margin: 0 auto;
      height: auto; } }

.subHeaderImgWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  display: inline-block;
  height: calc(100vw * .6492506); }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .subHeaderImgWrapper {
      width: 100%;
      top: 0%;
      transform: translateY(0%); } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .subHeaderImgWrapper {
      width: 100%;
      top: 0%;
      transform: translateY(0%); } }

.subHeaderImg {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .subHeaderImg {
      height: calc(100vw * .6492506); } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .subHeaderImg {
      height: calc(100vw * .6492506); } }

.subHeaderListContainer {
  float: right;
  width: 30%; }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .subHeaderListContainer {
      width: 100%;
      margin: 0 auto;
      padding: 0 5%; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .subHeaderListContainer {
      width: 100%;
      margin: 0 auto;
      padding: 0 5%; } }

.subHeaderList {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative; }
  @media screen and (max-width: 910px) and (min-width: 711px) {
    .subHeaderList {
      font-size: 1rem; } }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .subHeaderList {
      font-size: 1rem; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .subHeaderList {
      font-size: 1.2rem; } }

.subHeaderListItem {
  margin: 20px 0; }

.subHeaderListItemLink {
  text-decoration: none; }

.subHeaderListItemButton {
  border: 1px solid #222222;
  margin: 0 20px;
  background: #222222;
  color: #fbdc44;
  border-radius: 2px;
  transition: all 250ms ease; }
  .subHeaderListItemButton:hover {
    background: #646464;
    border: 1px solid #646464; }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .subHeaderListItemButton {
      display: none; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .subHeaderListItemButton {
      display: none; } }

.mobileButton {
  display: none; }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .mobileButton {
      display: block;
      width: 50%;
      background: #222222;
      padding: 5px;
      margin: 10px auto;
      border-radius: 2px;
      color: #fbdc44;
      text-align: center; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .mobileButton {
      display: block;
      width: 50%;
      background: #222222;
      padding: 5px;
      margin: 10px auto;
      border-radius: 2px;
      color: #fbdc44;
      text-align: center; } }

.mobileButtonContainer {
  padding: 10px 0; }

.mobileButtonText {
  color: #fbdc44;
  margin: 0; }

.divider {
  border: 2px solid #fbdc44;
  margin: 60px 0 0 0; }

.aboutShop {
  padding: 40px; }

.aboutShopHours {
  margin: 0; }

/*******************
FOOTER
*******************/
.footer {
  background: #aaaaaa;
  border-top: 4px solid #fbdc44;
  padding: 10px; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }

.leftFooter {
  display: inline-block;
  width: 49%; }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .leftFooter {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .leftFooter {
      width: 100%;
      text-align: center; } }

.rightFooter {
  display: inline-block;
  width: 49%;
  float: right; }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .rightFooter {
      width: 100%;
      text-align: center; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .rightFooter {
      width: 100%;
      text-align: center; } }

.footerHours {
  margin: 0;
  color: #222222;
  font-weight: 400;
  display: inline-block; }

.footerHoursBold {
  font-weight: bold; }

.footerAddress {
  text-align: right;
  display: block;
  margin: 0;
  font-weight: 400; }
  @media screen and (max-width: 710px) and (min-width: 669px) {
    .footerAddress {
      text-align: center; } }
  @media screen and (max-width: 668px) and (min-width: 0px) {
    .footerAddress {
      text-align: center; } }

.footerLink {
  text-decoration: none;
  color: #222222; }

/*******************
SERVICES
*******************/
/*******************
GALLERY
*******************/
/*******************
CONTACT
*******************/
.contactHeader {
  text-align: center;
  margin-top: 0;
  font-weight: 300; }

.contactContainer {
  width: 80%;
  margin: 0 auto;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  padding: 1% 2.5% 2.5% 2.5%;
  color: #fbdc44; }

.leftContact {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  background: rgba(34, 34, 34, 0.8);
  padding: 5px;
  border-radius: 5px; }

.leftContact h2 {
  margin: 0;
  font-weight: 200; }

.leftContact p {
  margin: 0; }

.contactAddressIcon {
  display: inline-block;
  height: 100%;
  vertical-align: top;
  padding-bottom: 9px; }

.verticalAlign {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.contactAddress {
  margin: 10px 0;
  padding: 0;
  display: inline-block; }

.contactPhone, .contactEmail {
  padding: 5px 0; }

.fa {
  margin-right: 7px; }

.contactPhone a, .contactEmail a {
  color: #fbdc44;
  text-decoration: none; }

.googleMapEmbed {
  width: 100%;
  margin: 15px 0; }

.rightContact {
  display: inline-block;
  width: 70%;
  padding-left: 10%;
  vertical-align: top; }

.formHeader {
  margin: 0 0 20px 0;
  font-weight: 200; }

.formElement {
  font-size: 1.1rem;
  font-weight: 300;
  margin: 7px 0; }

label {
  display: block; }

.inputLabel {
  display: inline-block;
  width: 20%;
  vertical-align: top; }

.formFirstName {
  width: 37.5%; }

.formLastName {
  width: 37.5%;
  float: right; }

.formEmail {
  width: 43%; }

.telInputOne {
  width: 3rem; }

.telInputTwo {
  width: 3rem; }

.telInputThree {
  width: 4rem; }

.formMessage {
  width: 80%;
  height: 200px; }

.formSubmit {
  float: right;
  background: #fbdc44;
  border: none;
  width: 80px; }
