html {
  box-sizing: border-box; }

*,
*::after,
*::before {
  box-sizing: inherit; }

.holder {
  text-align: center;
  height: calc(100vh - 265px); }

body {
  background: #646464;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif; }

.header {
  position: relative;
  height: 150px;
  background: #222222;
  padding: 0 30px;
  text-align: center; }

.headerLogo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 150px; }

.headerInfoList {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #fbdc44;
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0; }

.headerCallUs {
  font-weight: lighter; }

.headerInfoListItemLink {
  text-decoration: none;
  color: #fbdc44; }

.menu {
  background: #fbdc44; }

.menuList {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center; }

.menuListItem {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  display: inline-block; }
  .menuListItem:hover {
    background: #FFEC86; }

.menuLink {
  text-decoration: none;
  color: #222222; }

.menuActive {
  background: #FFEC86; }

.content {
  background: url("../images/engine.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, 0.9);
  padding: 40px 0 0 0; }

.subHeader {
  margin: 0 auto;
  background: #fbdc44;
  overflow: hidden;
  height: 500px;
  width: 1100px; }

.subHeaderImg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%; }

.subHeaderListContainer {
  float: right;
  width: 30%; }

.subHeaderList {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative; }

.subHeaderListItem {
  margin: 20px 0; }

.subHeaderListItemLink {
  text-decoration: none; }

.subHeaderListItemButton {
  border: 1px solid #222222;
  margin: 0 20px;
  background: #222222;
  color: #fbdc44;
  border-radius: 2px;
  transition: all 250ms ease; }
  .subHeaderListItemButton:hover {
    background: #646464;
    border: 1px solid #646464; }

.divider {
  border: 2px solid #fbdc44;
  margin: 60px 0 0 0; }

.aboutShop {
  padding: 40px; }

.aboutShopHours {
  margin: 0; }

/*******************
FOOTER
*******************/
.footer {
  background: #aaaaaa;
  padding: 10px; }
  .footer::after {
    clear: both;
    content: "";
    display: table; }

.leftFooter {
  display: inline-block;
  width: 49%; }

.rightFooter {
  display: inline-block;
  width: 49%;
  float: right; }

.footerHours {
  margin: 0;
  color: #222222;
  font-weight: 400;
  display: inline-block; }

.footerHoursBold {
  font-weight: bold; }

.footerAddress {
  text-align: right;
  display: block;
  margin: 0;
  font-weight: 400; }

.footerLink {
  text-decoration: none;
  color: #222222; }

/*******************
SERVICES
*******************/
/*******************
GALLERY
*******************/
/*******************
CONTACT
*******************/
