body {
  background: #646464;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif; }

.header {
  position: relative;
  height: 150px;
  background: #222222;
  padding: 0 30px;
  text-align: center; }

.headerLogo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 150px; }

.headerInfoList {
  position: absolute;
  top: 20px;
  right: 25px;
  color: #fbdc44;
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0; }

.headerCallUs {
  font-weight: lighter; }

.headerInfoListItemLink {
  text-decoration: none;
  color: #fbdc44; }

.menu {
  background: #fbdc44; }

.menuList {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center; }

.menuListItem {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  display: inline-block; }
  .menuListItem:hover {
    background: #FFEC86; }

.menuActive {
  background: #FFEC86; }

.content {
  background: url("../images/engine.jpeg");
  box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, 0.9);
  padding: 30px 0; }

.subHeader {
  margin: 0 auto -5px auto;
  background: #f7d95d;
  overflow: hidden;
  height: 500px;
  width: 1100px; }

.subHeaderImg {
  width: 70%; }

.subHeaderListContainer {
  float: right;
  width: 30%; }

.subHeaderList {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding: 0; }

.subHeaderListItem {
  margin: 20px 0; }
