@import '../node_modules/bourbon/app/assets/stylesheets/bourbon';
@import '../node_modules/bourbon-neat/app/assets/stylesheets/neat';

// COLORS //

$dark-background: rgb(34, 34, 34);
$yellow: rgb(251, 220, 68);
$light-background: rgb(100, 100, 100);

// MEDIA QUERIES //

$small-desktop: new-breakpoint(max-width 1150px min-width 911px 9);
$large-tablet: new-breakpoint(max-width 910px min-width 711px 9);
$small-tablet: new-breakpoint(max-width 710px min-width 669px 9);
$large-mobile: new-breakpoint(max-width 668px min-width 0px 9);


// INDEX //

.holder {
  text-align: center;
  height: calc(100vh - 265px);
}

body {
  background: $light-background;
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  // min-width: 1100px;
}

.header {
  position: relative;
  height: 150px;
  background: $dark-background;
  padding: 0 30px;
  text-align: center;

  @include media($large-tablet) {
    height: auto;
  }

  @include media($small-tablet) {
    height: auto;
    padding: 0;
  }

  @include media($large-mobile) {
    height: auto;
    padding: 0;
  }
}

.headerLogo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;

  @include media($large-tablet) {
    top: 0;
    transform: translateY(0);
  }

  @include media($small-tablet) {
    top: 0;
    transform: translateY(0);
    margin: 0 auto;
  }

  @include media($large-mobile) {
    top: 0;
    transform: translateY(0);
    margin: 0 auto;
    width: 60vw;
    height: calc(60vw * .375748503);
  }

}

.headerInfoList {
  position: absolute;
  top: 20px;
  right: 25px;
  color: $yellow;
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;

  @include media($large-tablet) {
    position: relative;
    top: 0;
    right: 0;
  }

  @include media($small-tablet) {
    position: relative;
    top: 0;
    right: 0;
  }

  @include media($large-mobile) {
    position: relative;
    top: 0;
    right: 0;
  }
}

.headerCallUs {
  font-weight: lighter;

}

.headerInfoListItemLink {
  text-decoration: none;
  color: $yellow;
}

.menu {
  background: $yellow;

  @include media($large-mobile) {
    display: none;
  }
}

.menuList {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center;
}

.menuListItem {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  display: inline-block;

  &:hover {
    background: #FFEC86;
  }
}

.menuLink {
  text-decoration: none;
  color: $dark-background;
}

.menuActive {
  background: #FFEC86;
}

.hamburgerContainer {
  display: none;
  background: $yellow;

  @include media($large-mobile) {
    display: block;
    height: 50px;
    padding-left: 5%;
  }
}

.hamburgerIconContainer {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#nav-icon1 {
  width: 40px;
  height: 30px;
  position: relative;
  top: 15%;
  transform: translateY(50%);
  margin: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: $dark-background;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
  top: 0px;
}

#nav-icon1 span:nth-child(2) {
  top: 12px;
}

#nav-icon1 span:nth-child(3) {
  top: 24px;
}

#nav-icon1.open span:nth-child(1) {
  top: 12px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -50px;
}

#nav-icon1.open span:nth-child(3) {
  top: 12px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.hamburgerMenu {
  margin: 0;
  padding: 0;
}

.content {
  background: url('../images/engine.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, .9);
  padding: 40px 0 0 0;
}

.subHeader {
  margin: 0 auto;
  background: $yellow;
  overflow: hidden;
  height: 500px;
  width: 1100px;

  @include media($small-desktop) {
    width: 900px;
    height: 400px;
  }

  @include media($large-tablet) {
    width: 700px;
    height: 300px;
  }

  @include media($small-tablet) {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }

  @include media($large-mobile) {
    width: 90%;
    margin: 0 auto;
    height: auto;
  }
}

.subHeaderImgWrapper {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  display: inline-block;
  height: calc(100vw * .6492506);

  @include media($small-tablet) {
    width: 100%;
    top: 0%;
    transform: translateY(0%);
  }

  @include media($large-mobile) {
    width: 100%;
    top: 0%;
    transform: translateY(0%);
  }
}

.subHeaderImg {
  width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);

  @include media($small-tablet) {
    height: calc(100vw * .6492506);
  }

  @include media($large-mobile) {
    height: calc(100vw * .6492506);
  }
}

.subHeaderListContainer {
  float: right;
  width: 30%;

  @include media($small-tablet) {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
  }

  @include media($large-mobile) {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
  }
}

.subHeaderList {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative;

  @include media($large-tablet) {
    font-size: 1rem;
  }

  @include media($small-tablet) {
    font-size: 1rem;
  }

  @include media($large-mobile) {
    font-size: 1.2rem;
  }
}

.subHeaderListItem {
  margin: 20px 0;
}

.subHeaderListItemLink {
  text-decoration: none;
}

.subHeaderListItemButton {
  border: 1px solid $dark-background;
  margin: 0 20px;
  background: $dark-background;
  color: $yellow;
  border-radius: 2px;
  transition: all 250ms ease;

  &:hover {
    background: $light-background;
    border: 1px solid $light-background;
  }

  @include media($small-tablet) {
    display: none;
  }

  @include media($large-mobile) {
    display: none;
  }
}

.mobileButton {
  display: none;

  @include media($small-tablet) {
    display: block;
    width: 50%;
    background: $dark-background;
    padding: 5px;
    margin: 10px auto;
    border-radius: 2px;
    color: $yellow;
    text-align: center;
  }

  @include media($large-mobile) {
    display: block;
    width: 50%;
    background: $dark-background;
    padding: 5px;
    margin: 10px auto;
    border-radius: 2px;
    color: $yellow;
    text-align: center;
  }
}

.mobileButtonContainer {
  padding: 10px 0;
}

.mobileButtonText {
  color: $yellow;
  margin: 0;
}

.divider {
  border: 2px solid $yellow;
  margin: 60px 0 0 0;
}

.aboutShop {
  padding: 40px;
}

.aboutShopHours {
  margin: 0;
}

/*******************
FOOTER
*******************/

.footer {
  background: rgba(170, 170, 170, 1);
  padding: 10px;
  @include clearfix;
}

.leftFooter {
  display: inline-block;
  width: 49%;

  @include media($small-tablet) {
    width: 100%;
    text-align: center;
  }

  @include media($large-mobile) {
    width: 100%;
    text-align: center;
  }
}

.rightFooter {
  display: inline-block;
  width: 49%;
  float: right;

  @include media($small-tablet) {
    width: 100%;
    text-align: center;
  }

  @include media($large-mobile) {
    width: 100%;
    text-align: center;
  }
}

.footerHours {
  margin: 0;
  color: $dark-background;
  font-weight: 400;
  display: inline-block;
}

.footerHoursBold {
  font-weight: bold;
}

.footerAddress {
  text-align: right;
  display: block;
  margin: 0;
  font-weight: 400;

  @include media($small-tablet) {
    text-align: center;
  }

  @include media($large-mobile) {
    text-align: center;
  }
}

.footerLink {
  text-decoration: none;
  color: $dark-background;
}

/*******************
SERVICES
*******************/





/*******************
GALLERY
*******************/




/*******************
CONTACT
*******************/
