
// background: rgba(34, 34, 34, 1);
// yellow: rgba(251, 220, 68, 1);
// white: rgba(252, 254, 255, 1);

.holder {
  text-align: center;
  height: calc(100vh - 302px);
}

body {
  background: rgba(100, 100, 100, 1);
  padding: 0;
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

.header {
  position: relative;
  height: 150px;
  background: rgba(34, 34, 34, 1);
  padding: 0 30px;
  text-align: center;
}

.headerLogo {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 150px;
}

.headerInfoList {
  position: absolute;
  top: 20px;
  right: 25px;
  color: rgba(251, 220, 68, 1);
  list-style: none;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

.headerCallUs {
  font-weight: lighter;
}

.headerInfoListItemLink {
  text-decoration: none;
  color: rgba(251, 220, 68, 1);
}

.menu {
  background: rgba(251, 220, 68, 1);
}

.menuList {
  margin: 0;
  padding: 0;
  height: 50px;
  text-align: center;
}

.menuListItem {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 25px;
  height: 50px;
  line-height: 50px;
  display: inline-block;

  &:hover {
    background: #FFEC86;
  }
}

.menuLink {
  text-decoration: none;
  color: rgba(34, 34, 34, 1);
}

.menuActive {
  background: #FFEC86;
}

.content {
  background: url('../images/engine.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(100, 100, 100, .9);
  padding: 40px 0 0 0;
}

.subHeader {
  margin: 0 auto;
  background: rgba(247, 217, 93, 1);
  overflow: hidden;
  height: 500px;
  width: 1100px;
}

.subHeaderImg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}

.subHeaderListContainer {
  float: right;
  width: 30%;
}

.subHeaderList {
  font-size: 1.5rem;
  list-style: none;
  text-align: center;
  padding: 0;
}

.subHeaderListItem {
  margin: 20px 0;
}

.divider {
  border: 2px solid rgba(251, 220, 68, 1);
  margin: 40px 0 0 0;
}

.aboutShop {
  background: rgba(170, 170, 170, 1);
  padding: 40px;
}

.aboutShopHours {
  margin: 0;
}

/*******************
SERVICES
*******************/





/*******************
GALLERY
*******************/




/*******************
CONTACT
*******************/
